In [10]:
# Dependencies
import pandas as pd

In [5]:
# We can create a Pandas Series from a raw list
data_series = pd.Series(["UCLA", "UC Berkeley", "US Irvine", "Univ of Central Florida", "Rutgers"])
data_series

0                       UCLA
1                UC Berkeley
2                  US Irvine
3    Univ of Central Florida
4                    Rutgers
dtype: object

In [12]:
# Convert a list of dictionaries into a DataFrame
data_dict = pd.DataFrame([{"STATE": "New Jersey", "ABBREVIATION" : "NJ"},{"STATE": "New York", "ABBREVIATION" : "NY"}])

# states_df = pd.DataFrame(data_dict)
# states_df
data_dict

        STATE ABBREVIATION
0  New Jersey           NJ
1    New York           NY

In [9]:
# Convert a single dictionary containing lists into a DataFrame
pharaoh_df = pd.DataFrame({"Dynasty" : ["Early Dynastic Period", "Old Kingdom"], "Pharaoh" : ["Thinis", "Memphis"]})
pharaoh_df

                 Dynasty  Pharaoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis