In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
file_path = Path("Resources\movie_scores.csv")
movies_df = pd.read_csv(file_path)
movies_df.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [3]:
# Figure out the minimum and maximum IMDB user vote count
min_IMDB = movies_df["IMDB_user_vote_count"].min()
print(min_IMDB)
max_IMDB = movies_df["IMDB_user_vote_count"].max()
print(max_IMDB)

243
334164

In [15]:
# Create bins in which to place values based upon IMDB vote count
vote_count_bins = [0, 2500, 5000, 10000, 20000, 40000, 60000, 100000, 200000, 360000]
# Create labels for these bins
vote_count_names = ["<= 2.5k", ">2.5k & <=5k",">5k & <=10k", ">10k & <=20k", ">20k & <=40k", ">40k & <=60k", ">60k & <=100k", ">100k & <=200k", ">200k & <=360k"]

In [16]:
# Slice the data and place it into bins
movies_df2 = movies_df.copy()
# movies_df2["IMDB vote bin"] = pd.cut(movies_df2["IMDB_user_vote_count"], bins=vote_count_bins, labels=vote_count_names, include_lowest=True)
# movies_df2

pd.cut(movies_df2["IMDB_user_vote_count"], bins=vote_count_bins, labels=vote_count_names, include_lowest=True)

0      >200k & <=360k
1       >60k & <=100k
2      >100k & <=200k
3        >2.5k & <=5k
4        >10k & <=20k
            ...
141       >5k & <=10k
142      >20k & <=40k
143      >20k & <=40k
144           <= 2.5k
145       >5k & <=10k
Name: IMDB_user_vote_count, Length: 146, dtype: category
Categories (9, object): ['<= 2.5k' < '>2.5k & <=5k' < '>5k & <=10k' < '>10k & <=20k' ... '>40k & <=60k' < '>60k & <=100k' < '>100k & <=200k' < '>200k & <=360k']

In [17]:
# Place the data series into a new column inside of the DataFrame
movies_df2["IMDB vote bin"] = pd.cut(movies_df2["IMDB_user_vote_count"], bins=vote_count_bins, labels=vote_count_names, include_lowest=True)
movies_df2.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference,IMDB vote bin
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5,>200k & <=360k
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5,>60k & <=100k
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5,>100k & <=200k
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5,>2.5k & <=5k
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5,>10k & <=20k

In [23]:
# Create a GroupBy object based upon "IMDB User Votes Group"
movies_IMDBvotes = movies_df2.groupby(["IMDB vote bin"])

# Find how many rows fall into each bin

print(movies_IMDBvotes["IMDB"].count())

# Get the average of each of the first 5 rating columns within the GroupBy object
movies_IMDBvotes[["RottenTomatoes", "RottenTomatoes_User", "Metacritic", "Metacritic_User", "IMDB"]].mean()

IMDB vote bin
<= 2.5k           18
>2.5k & <=5k      12
>5k & <=10k       16
>10k & <=20k      33
>20k & <=40k      25
>40k & <=60k      17
>60k & <=100k      9
>100k & <=200k     7
>200k & <=360k     9
Name: IMDB, dtype: int64

,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB
IMDB vote bin,,,,,
<= 2.5k,81.166667,71.111111,70.722222,7.166667,7.027778
>2.5k & <=5k,46.416667,62.750000,49.916667,6.341667,6.450000
>5k & <=10k,61.500000,67.125000,60.125000,7.356250,6.968750
>10k & <=20k,51.909091,54.575758,52.939394,5.860606,6.284848
>20k & <=40k,61.440000,61.440000,58.360000,6.196000,6.684000
>40k & <=60k,56.411765,62.705882,56.588235,6.405882,6.770588
>60k & <=100k,71.333333,72.000000,66.888889,6.955556,7.133333
>100k & <=200k,45.571429,59.285714,50.142857,5.985714,6.414286
>200k & <=360k,79.222222,83.666667,70.111111,7.477778,7.722222